@model decimal
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="padding: 30px; border:double red ; font-size:x-large; color:green">
        <h1>Total Cost</h1> @Model
    </div>
</body>
</html>
